@page "/"

@inject IViewInventoryByNameUsecase ViewInventoryByNameUsecase
<PageTitle>Test Page</PageTitle>

<br/>
<br/>
@if(inventories is not null && inventories.Any())
{
    <div class="container">
        <h1>Inventories</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var inv in inventories)
                {
                    <tr>
                        <td>@inv.Name</td>
                        <td>@inv.Quantity</td>
                        <td>@inv.Price</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No inventories found.</p>
}


@code{
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories=(await ViewInventoryByNameUsecase.ExecuteAsync()).ToList();
    }
}
